@font-face{
	font-family: 'Roboto_light';
	src: url(../fonts/Roboto/Roboto-Light.ttf);
} 
@font-face{
	font-family: 'Roboto_medium';
	src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face{
	font-family: 'Roboto_thin';
	src: url(../fonts/Roboto/Roboto-Thin.ttf);
}
@font-face{
	font-family: 'Roboto_Black';
	src: url(../fonts/Roboto/Roboto-Black.ttf);
}
#success{
	width: 100%;
	min-height: 30px;
	text-align: center;
	line-height: 30px;
	color: #3c763d;
	background-color: #dff0d8;
	border-radius: 4px 4px 4px 4px;
	border: 1px solid #d6e9c6;
	margin: 0 0 5px 0;
}
#error{
	width: 100%;
	min-height: 30px;
	text-align: center;
	line-height: 30px;
	color: #b84442;
	background-color: #f2dede;
	border-radius: 4px 4px 4px 4px;
	border: 1px solid #ebccd1;
	margin: 0 0 5px 0;
}
#info{
	width: 100%;
	min-height: 30px;
	text-align: center;
	line-height: 30px;
	color: #60708f;
	background-color: #d9edf7;
	border-radius: 4px 4px 4px 4px;
	border: 1px solid #bce8f1;
	margin: 0 0 5px 0;
}
#warning{
	width: 100%;
	min-height: 30px;
	text-align: center;
	line-height: 30px;
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-radius: 4px 4px 4px 4px;
	border: 1px solid #faebcc;
	margin: 0 0 5px 0;
}

.form-signin{
	/*position: absolute;*/
  /*right: 12%;*/
  width: 300px;
}
.login_page_text{
	width: 50%;
	min-height: 10px;
	position: absolute;
	left: 10%;
	margin-top: 150px;
	background-color: rgba(76, 175, 80, 0.5);
	padding: 15px;
}
.login_page_text h3{
	color: #fff;
	font-size: 30px;
}
.login_page_text p{
	color: #fff;
	font-size: 17px;
}
.login-body{
	background: url(../img/gf.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
	position: relative;
}
/*common heading with bottom line*/
.section_heading{
    color: #000;
    font-size: 20px;
    margin-top: 0;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #f44336;
    margin-top: 10px;
}
.line_before{
    position: relative;
    margin-bottom: 0;
}
.line_before:before{
    content: '';
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -11px;
    /*background-color: #646464;*/
    background-color: #4caf50;
    position: absolute;
}
.relative_behave{
	position: relative;
}
.f_right_btn{
	position: absolute;
	top: -5px;
	right: 10px;
	padding: 5px 15px !important;
}
.space_20px{
	width: 100%;
	height: 20px;
}
.form-group label{
	font-family: "Roboto_medium";
	color: #4a4a4a;
}
.form-control{
	color: #4a4a4a;
}
#trans_flag_stock_in, #trans_flag_stock_out{
	display: none;
}
#exceeds_error{
	color: #f44336;
	font-family: 'Roboto_medium';
	font-size: 10px;
}
#alert_box{
	display: none;
}
#alert_box_timer{
	display: none;
	width: 60%;
	position: fixed;
	left: 50%;
	top: 0;
	z-index: 1500;
	transform: translateX(-50%);
}
/*#alert_box_timer .alert-success, #alert_box_timer .alert-danger{
	padding: 5px 15px;
}*/
.small_space{
	width: 100%;
	height: 20px;
}
label{
	font-weight: normal !important;
}
.no_m{
	margin: 0;
}
/*custom radio button and checbox*/
input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
  cursor: pointer;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

input[type=checkbox]:not(old) + label > span{
  display          : inline-block;
  width            : 24px;
  height           : 24px;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 4px;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
  font-size: 20px;
}

input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 24px;
  height           : 24px;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 50px;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}

input[type=checkbox]:not(old):checked + label > span,
input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

input[type=checkbox]:not(old):checked + label > span:before{
  content     : '✓';
  display     : block;
  width            : 18px;
  height           : 18px;
  margin           : 2px;
  color       : rgb(0,106,166);
  font-size   : 0.875em;
  line-height : 1em;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(115,153,77);
  font-weight : bold;
}

input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  width            : 18px;
  height           : 18px;
  margin           : 2px;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 50px;
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgb(0,106,166),rgb(0,106,166));
  background-image :     -ms-linear-gradient(rgb(0,106,166),rgb(0,106,166));
  background-image :      -o-linear-gradient(rgb(0,106,166),rgb(0,106,166));
  background-image : -webkit-linear-gradient(rgb(0,106,166),rgb(0,106,166));
  background-image :         linear-gradient(rgb(0,106,166),rgb(0,106,166));
}
.main_logo{
	margin-top: 5px;
	width: 100px;
	float: left;
}
.display_transaction_no{
	width: 100px !important;
	float: left;

}
.pagination_pages{
	margin: 0;
	font-size: 15px;
	margin-top: 5px;
}
.block{
	display: block;
}
/*@media screen and (max-width: 768px){
	.form-signin{
	  position: static;
	}
	.login_page_text{
		display: none;
	}
}*/